<div class="tabs">
  <a
    routerLink="bookmarks"
    routerLinkActive="selected"
    class="tab bookmarks-tab">
    <div class="tab-tile">
      <i>
        <span class="material-symbols-outlined"> bookmarks </span>
      </i>
    </div>
  </a>

  <a routerLink="todos" routerLinkActive="selected" class="tab todos-tab">
    <div class="tab-tile">
      <i id="icon" class="material-symbols-outlined"> check </i>
    </div>
  </a>

  <a routerLink="notes" routerLinkActive="selected" class="tab notes-tab">
    <div class="tab-tile">
      <i>
        <span class="material-symbols-outlined"> notes </span>
      </i>
    </div>
  </a>
</div>
