<div class="app-wrapper">
  <div
    class="bg-img"
    [ngStyle]="{ 'background-image': 'url(' + bg + ')' }"
    [@bgFadeAnim]></div>
  <div class="btn change-bg" (click)="changeBgImage()" *ngIf="enableDynamicBg">
    <i class="material-icons">refresh</i>
  </div>

  <div class="top-section">
    <h1>21:00</h1>
    <h2>21 January 2024</h2>
  </div>

  <!-- Binding to return value -->

  <div class="content-section" [@routeAnim]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"> </router-outlet>
  </div>

  <div class="bottom-section">
    <app-tabs></app-tabs>
  </div>

  <app-notification></app-notification>
</div>
