.app-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url("https://fastly.picsum.photos/id/450/1920/1080.jpg?hmac=xDeMorMomjhKEbocGtnP89w5iKpSX0h4gMpFaltwJWs");
  background-position: center;
  background-size: cover;
}

.top-section {
  text-align: center;
  padding: calc(2rem + 1vw) 0;

  h1 {
    font-weight: bold;
    color: #f5f5f5;
    text-shadow: 0 1px 7px rgba(#000000, 0.1);
  }

  h2 {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 4px rgba(#000000, 0.1);
  }
}

.content-section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.bottom-section {
  display: flex;

  app-tabs {
    margin: auto;
  }
}

@media (max-width: 768px) {
  body {
    overflow-y: auto;
  }

  .bookmarks-wrapper {
    overflow-y: auto;
    padding-bottom: calc(4rem + 1rem);
  }
}
